.calendar {
  padding-top: 1rem;
  height: calc(100vh - 6rem);
  max-height: calc(100vh - 6rem);
  overflow: auto;
  margin: auto 24px;
}
.dates {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 800;
  color: #2F0147 ;
  margin-top: 1.5rem;
}
.dates-top {
  display: flex;
  justify-content: space-between;
  margin: 0.75rem;
}
.date {
  cursor: pointer;
}
.date.active {
  /* background-color: #AED9E0; */
  background-color: #2F0147;
  color: #fff;
  font-size: xx-large;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
.task {
  display: flex;
}
.daily-tasks-page {
  background-color: #2e01470e;
  /* display: flex;
  flex-direction: column; */
  border-radius: 0.5rem;
  margin-top: 1.5rem;
}
.col-1 {
  display: flex;
  width: 50%;
  margin: 0.5rem 0;
  justify-content: center;
}
.button-group-week {
  text-align: right;
}
